<div class="row">
<div class="col-sm-12 col-md-6 col-lg-4">
<% @cocktails.each do |cocktail| %>
    <div class="card">
    <h2><%= cocktail.name %></h2>
    <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
    <% end %>
    </div>
  </div>
    <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.button :submit %>
    <% end %>
</div>
