<head>
  <!-- Add these line for detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
<div class="header">
  <h1> Hangover Cocktails <small> - powered by RoR</small></h1>
</div>
<div class="row">
  <div class="col-sm-8">
    <div class="list-group">
      <% @cocktails.each do |cocktail| %>
            <%= link_to cocktail.name, cocktail_path(cocktail), class: "btn btn-default", class: "list-group-item" %>
        <% end %>
    </div>
  </div>
    <div class="col-sm-4">
      <h3> Create your cocktail!</h3>
      <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name, label: false %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
 </body>
