<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fit%>
<ul><% @cocktail.doses.each do |dose| %>
<li><%= dose.description + " | " + dose.ingredient.name %></li>
<%end%></ul>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: @ingredients %>
  <%= f.submit%>
<% end %>
<%= link_to "Delete", cocktail_path, method: :delete, class: "btn btn-danger" %>
<%= link_to "Return", root_path, class: "btn btn-default"%>
